:root{
    --cor-primaria: #1A1C3D;
    --cor-secundaria: #ffffff;
    --cor-terciaria: #2B2E63;
    --cor-destaque: #cc1c1c;
    --cor-fundo-gradiente: #5751515e;
}

/*Para links - ainda nao usado*/
a:link {color: var(--cor-secundaria)}
a:hover {color:var(--cor-destaque)}
a:visited {color:var(--cor-secundaria)}
a:active {color:var(--cor-destaque)}
.cabecalho{
    background-color: var(--cor-secundaria);
    border-radius: 5px;
    margin: 5px;
    padding: 5px;
    display: flex;
    flex-direction: row;
    a:link {color: var(--cor-terciaria)}
    a:hover {color:var(--cor-destaque)}
    a:visited {color:var(--cor-primaria)}
    a:active {color:var(--cor-destaque)}
}
.sessao_cabecalho{
    background-color: var(--cor-secundaria);
    padding: 1rem;
    border-radius: 20px;
    flex-grow: 1;
}
.reduzir_coluna{
    width: 80px;
}
body {
    background: linear-gradient(var(--cor-primaria), var(--cor-fundo-gradiente));
    min-height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
}
img{
    width: 220px;
}
th{
    background-color: var(--cor-secundaria);
}
.container{
    padding: 1rem;
    display: flex;
    align-items: center;
    gap: 5px;
}
.item{
    background-color: var(--cor-secundaria);
    padding: 1rem;
    border-radius: 20px;
}
.titulo{
    color: var(--cor-terciaria);
    text-align: center;
}
.fundo{
    background-color: var(--cor-secundaria);
    border-radius: 5px;
    margin: 5px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    a:link {color: var(--cor-primaria)}
    a:hover {color:var(--cor-destaque)}
    a:visited {color:var(--cor-primaria)}
    a:active {color:var(--cor-destaque)}
}
table{
    /* display: flex; */ /* Nao usar display em tabela */
    width: 100%;
    margin: 20px auto; 
    text-align: center;
}
button{
    background-color: var(--cor-terciaria); 
    color: var(--cor-secundaria); 
    border-radius: 5px;
}
footer{
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
    display: flex;
    flex-direction: column;
    margin-top: auto;
}