#frete {
    width: 100px;
}
.textofrete{
    display: flex;
    flex-direction: column;
}
.frete-box {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.item{
    display: flex;
    flex: 1;
    flex-direction: column;
}
.destaques{
    background-color: white;
}